.container {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 80vh;
  background-image: url('../../img/hero-img.jpg');
  background-size: cover;
}
.container img {
  width: 100vw;
  height: 60vh;
  position: relative;
}
.container-phrase {
  color: black;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  background-color: rgba(255, 252, 252, 0.7);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
}
.container:hover .container-phrase {
  opacity: 1;
}
.search-container {
  background-color: rgba(255, 252, 252, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.7);
  position: relative;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}
.search-container:hover {
  opacity: 1;
  border: 0;
  outline: 0;
}
.search-container input {
  height: 40px;
  width: 500px;
  padding: 0 20px;

  border-bottom-left-radius: 4px;
  position: absolute;
  top: 0;
  border: 0;
  outline: 0;
}
.search-container input:focus {
  outline: 0;
  border: 0;
}
.search-btn {
  height: 41px;
  background-color: #fff;
  border: 0;
  outline: 0;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 0px;
  left: 65%;
  color: #7a7979;
  padding-right: 15px;
}
button:focus {
  border: 0;
  outline: 0;
}
