@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap';

.container {
  /* margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 92.7vh;
  overflow: hidden;
  background-image: url('../../images/sri.png');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-color: rgba(20, 20, 20, 0.9);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center; */

  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 92.7vh;
  overflow: hidden;
  background-image: linear-gradient(to right, #f2f2, #2e2e2e);
  background-position: top;
  background-repeat: no-repeat;
  background-color: linear-gradient(direction);
  background-size: auto 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: left;
  background-blend-mode: luminosity;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container .right-container {
  height: 80%;
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container .right-container .sriya-text {
  font-size: 35px;
  color: #6b1153e3;
}
.container .right-container h1 {
  color: #fff;

  text-align: left;
  font-weight: bold;

  font-size: 50px;
  margin: 5px 0;
}
.container .right-container h1 span {
  color: #6b1153e3;
  font-weight: bold;
  margin: 0;
}
.container .right-container p {
  color: #fff;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 80px;
}
.container .right-container .span-ele {
  color: #54003e;
  font-size: 25px;
}

.container .left-container {
  width: 30%;
  height: 100%;
  overflow: hidden;
  background-image: url('../../images/sri.png'),
    linear-gradient(to right, #f2f2, #2e2e2e);
  background-size: cover;
  box-shadow: inset 0px 14px 16px 16px #b6a5b6;
  background-blend-mode: luminosity;
}

.container .left-container img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 4px 6px #fff);
  border: 4px solid rgb(102, 61, 68);

  object-fit: cover;
  object-position: top;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 70% 40%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 70% 0%, 100% 50%, 80% 100%, 0% 100%); */
}

/* B6A5B6 */
.container .right-container a {
  text-decoration: none;
  margin-top: 10px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  border: 2px solid #6b1153e3;
  font-size: 20px;
  color: #6b1153e3;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container .right-container a:hover {
  background-color: #6b1153e3;
  color: #fff;
}
